# P3. Exploration SQL

Le répertoire `/db` contient une base de données SQLite3 `olympics.sqbpro` reprenant les résultats des épreuves des jeux d'été pour une période donnée (cf P1 & P2).

On s'intéresse dans le cadre de cette partie P3 à l'exploration via SQL des résultats des JO d'été (table : `summer`).

---

### Question 1: Qu'est ce que SQL ?

Le SQL (Structured Query Language) est un langage permettant de communiquer avec une base de données

### Question 2: Qu'est ce que SQLite 3 ? Avantages et/ou Inconvénients ?

SQLite est un système de base de données qui a la particularité de fonctionner sans serveur, on dit aussi "standalone" ou "base de données embarquée". On peut l'utiliser avec beaucoup de langages : PHP, Python, C# (.NET), Java, C/C++, Delphi, Ruby...

inconvénients : 
- écritures atomiques (avec SQLite, un seul processus peut écrire dans la base)
- pas de réplication

avantages : 
- très léger et rapide à mettre en place
- stocker des données dans une vraie base de données sur une application pour smartphone (iPhone ou Android), pour une application Windows, ou sur un serveur web.

# Définition
réplication : La réplication consiste en un transfert des données d'un serveur vers un ou plusieurs autres serveurs SQL.

### Question 3: Donner des exemples d'autres formats de fichier pouvant être utilisé pour fournir des données similaires

.SQLITEDB / .DB / .SQLITE3 / .SQL / .XLM

### Question 4: Quel est le type (texte ou binaire) du fichier base de données SQLite3?

Le fichier `olympics.sqbpro` est un fichier ... binaire

### Question 5: Donner les caractéristiques de la table `summer` ?

9 colonnes : Year , City , Sport, Discipline, Athletes, Country, Gender, Event, Medal  
nb de lignes : 31165

---
### Question 6: Combien d'enregistrements possède la table `summer` ?

SELECT count(*)  
FROM summer;

Résultat : 31165

### Question 7: Quelle période des JO couvre ce fichier de résultats ?

SELECT MIN(Year), MAX(Year)  
FROM summer;

Résultat : 1896, 2012

### Question 8: Indiquer les années et villes des olympiades ?

SELECT DISTINCT Year, City  
FROM summer;

Résultat : 1896 Athens 1900 Paris 1904 St Louis 1908 London 1912 Stockholm 1920 Antwerp 1924 Paris 1928 Amsterdam 1932  
Los Angeles 1936 Berlin 1948 London 1952 Helsinki 1956 Melbourne / Stockholm 1960 Rome 1964 Tokyo 1968 Mexico 1972 Munich   
1976 Montreal 1980 Moscow 1984 Los Angeles 1988 Seoul 1992 Barcelona 1996 Atlanta 2000 Sydney 2004 Athens 2008 Beijing 2012 London

### Question i:

### Q1. Combien la France a remporté de médailles d’or aux JO de 1984 ? - (Christophe)

SELECT count(*)  
FROM summer  
WHERE Medal = "Gold" AND Country = "FRA" AND Year = "1984"

Résultat : 21

### Q2. Quel pays a le plus d’athlètes (toutes années confondues) ? (Matthias)

SELECT Country, count(DISTINCT Athlete)  
FROM summer  
GROUP BY Country  
ORDER BY count(DISTINCT Athlete) DESC  
LIMIT 1

Résultats : USA : 3149

### Q3. En 2012 combien de médailles le Japon a t-il gagné ? (Théo)

SELECT Count(Medal)  
FROM summer  
WHERE Country = "JPN" AND Year = 2012

Résultats : 84

### Q4. Dans quels différents sports les Grecs ont-ils gagné des médailles ? - (Corentin L)

SELECT  Sport  
FROM summer  
WHERE Country = "GRE"  
GROUP BY Sport

Résultats :  
Aquatics
Athletics
Cycling
Fencing
Gymnastics
Judo
Rowing
Sailing
Shooting
Taekwondo
Tennis
Weightlifting
Wrestling

### Q5. Quel pays a remporté le plus de médailles d’or ? (Philippe)

SELECT Country, Count(Medal)   
FROM summer    
WHERE Medal = "Gold"  
GROUP BY Country   
ORDER BY count(Medal) DESC   
LIMIT 1

résultats : USA, 2235

### Q6. Combien de villes différentes ont accueilli les JO d’été entre 1896 - et 2012 ? (Yoann)

SELECT Count(DISTINCT City)   
FROM summer   
WHERE Year BETWEEN 1896 AND 2012

Résultats : 22

### Q7. Combien de femmes ont obtenu une médaille d’or ? (Lamia)

SELECT Count(Medal)   
FROM summer   
WHERE Gender = "Women" AND Medal = "Gold"

Résultat : 2788

### Q8. Combien de sports différents sont représentés par année ? (joris)

SELECT Year, Count(DISTINCT Sport)  
FROM summer   
GROUP BY Year

résultat (cf screenshot)

### Q9. Combien de fois Londres a accueilli les J.O ? (Marvin)

SELECT count(DISTINCT year)  
FROM summer    
WHERE City = "London"

Résultat : 3

### Q10. Combien de joueuses comptait la sélection brésilienne de volley-ball - médaillée d’or aux J.O de 2012 ? (Corentin P)

SELECT count(Sport), Medal, Gender, Year, Country  
FROM summer  
WHERE Sport = "Volleyball" AND Gender = "Women" AND Medal = "Gold" AND Year = "2012" AND Country = "BRA"

résultat : 12

### Q11. Combien de femmes françaises ont participé en 2012 , quel sont leurs - médailles ? (izak)

SELECT Count(DISTINCT Athlete),Gender, Year, Country  
FROM summer  
WHERE Year = "2012" AND Gender = "Women" AND Country = "FRA"

In [8]:
résultat : 29

SELECT Medal as Medal, count(DISTINCT Athlete)  
FROM summer  
WHERE Gender = "Women" AND Year = 2012 AND Country = "FRA"  
GROUP BY Medal

Résultat : Bronze "12" / Gold "4" / Silver "15"

### --Q12. Quel est l’athlète qui a remporté le plus de médailles d’or ? (mayel)
--(Adaptation au top 10)

SELECT Athlete, Country, count(Medal) as nMedal  
FROM summer  
WHERE Medal = "Gold"  
GROUP BY Athlete, Country  
ORDER BY nMedal DESC  
LIMIT 10;

résultat : Phelps

### Q13. Est-ce que la France à déjà gagné une médaille d’or au cricket ? - (jordan)

SELECT count(Medal)   
FROM summer    
WHERE Country = "FRA" AND Sport = "Cricket" AND Medal ="Gold"

Résultat : 0

### Q14. Combien de médaillés ont un nom de famille de plus de 6 lettres en - excluant les années paires ? (jonathan)

### Q15. Le nombre de médailles d’or par pays en 2012 (Maëlle)

SELECT DISTINCT Country as ACountry, count(Medal) as nMedal  
FROM summer  
WHERE Medal = "Gold" AND Year = "2012"  
GROUP BY ACountry  
ORDER BY nMedal DESC

résultat : cf screenshot

### Q16. Combien de femmes ont remporté des médailles ? (Alicia)

SELECT count(DISTINCT Athlete)  
FROM summer  
WHERE Gender = "Women"

Résultat : 5838

### Q17. Entre 1984 et 2012 combien de médailles a gagné la France ? (Abire)

SELECT count(*)  
FROM summer  
WHERE Year BETWEEN '1984' AND '2012'  AND Country = "FRA"

resultat : 482

---

Fin